#categoria{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fundo-claro);
}

.form{
    display: flex;
    flex-direction: column;
}

#categoria h1{
    color: var(--laranja-destaque);
    font-size: 60px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}
.cadastro_categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

.cadastro_categoria label{
    font-weight: 500;
    color: var(--fonte-escura);
    font-size: 25px;
    justify-content: center;
    margin-right: 20%;
    margin-bottom: 2px;
}

.cadastro_categoria input{
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 0 18px;
    width: 500px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.30);
    margin-bottom: 5%;
}

#alinharBotoes{
     color: var(--vinho);
    display: flex;
    gap: 2vw;
}

#botaoSalvar{
   border: none;
    border-radius: 10px;
    height: 38px;
    width: 14vw;
    gap: 1vw;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--laranja-destaque);
}

#botaoCancelar{
    border: 1px solid var(--laranja-destaque);
    border-radius: 10px;
    padding: 8px 5vw;
    gap: 1vw;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}